{% extends "encyclopedia/layout.html" %}

{% block title %}
    New - Encyclopedia
{% endblock %}

{% block body %}
    <h1>NEW ENTRY</h1>
      <br>
      <form action="{% url 'new_page' %}" method="POST">
        {%csrf_token%}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title of the Page:</label>
        <input type="text" class="form-control w-50" id="exampleFormControlInput1" placeholder="Title" name="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
        <textarea class="form-control h-50 w-75" id="exampleFormControlTextarea1" rows="7" name="content" placeholder="Markdown Content"></textarea>
      </div>
      <button type="submit" class="btn btn-lg btn-primary mb-3 px-5">New Page</button>
    </form>
{% endblock %}